@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Vazirmatn", serif;
}

body {
  margin: 0;
}

.rtl-form {
  direction: rtl;
  text-align: right;
}

.rtl-form .ant-form-item-label {
  text-align: right;
}

.rtl-form .ant-input-prefix {
  margin-right: 0;
  margin-left: 8px;
}

.rtl-form .ant-select-selection-item {
  text-align: right;
}

.rtl-form .ant-upload-list-item-info {
  padding-right: 4px;
  padding-left: 0;
}

.rtl-form .ant-upload-list-item-card-actions {
  right: auto;
  left: 0;
}
